# COMMON settings
cluster_name                      = "c1d1"
dnsdomain                         = "example.com"
num_cluster_nodes                 = 5
num_control_planes                = 3
root_authorized_keys_file         = null
root_ssh_private_key_file         = null
node_root_lock_password           = true
node_root_plain_password          = "changeme"
# k3s_version                       = "v1.28.8+k3s1"
# kured_chart_version               = ""
# metallb_chart_version             = ""
# metallb_address_range             = ""
# metallb_l2advertisement_name      = ""
# argocd_chart_version              = ""
# traefik_chart_version             = ""
# system_upgrade_controller_version = ""
# cert_manager_chart_version        = "1.14.4"
# rancher_chart_url                 = "https://releases.rancher.com/server-charts/stable/rancher-2.8.3.tgz"
# rancher_password                  = "" # min 12 chars
# registration_command              = ""
# ca_key_path                       = ""
# ca_cert_path                      = ""

# PROXMOX settings
# proxmox_api_url          = "https://changeme.example.com:8006/api2/json"
# proxmox_api_token_id     = ""
# proxmox_api_token_secret = ""
# proxmox_tls_insecure     = false
# proxmox_node             = ""
# proxmox_storage_pool     = ""
# proxmox_iso_storage_pool = ""
# proxmox_network_bridge   = ""
# proxmox_template         = ""

# VSPHERE settings
# vsphere_user                 = ""
# vsphere_password             = ""
# vsphere_server               = ""
# vsphere_allow_unverified_ssl = false
# vsphere_datacenter           = ""
# vsphere_compute_cluster      = ""
# vsphere_datastore            = ""
# vsphere_resource_pool        = ""
# vsphere_network_cluster      = ""
# vsphere_template             = ""
# vsphere_folder               = ""

