# COMMON settings
root_authorized_keys_file = null

# PROXMOX settings
proxmox_api_url                = "https://changeme.example.com:8006/api2/json"
proxmox_api_token_id           = "changeme"
proxmox_api_token_secret       = "changeme"
proxmox_tls_insecure           = false
proxmox_node                   = "changeme"
proxmox_storage_pool           = "local"
proxmox_iso_storage_pool       = "local"
proxmox_network_bridge         = "vmbr0"
proxmox_ci_root_lock_password  = true
proxmox_ci_root_plain_password = "changeme"

