vcenter_server      = "my-vcenter.example.com"
vcenter_username    = ""
vcenter_password    = ""
cluster             = ""
datacenter          = ""
datastore           = ""
folder              = ""
network             = ""
resource_pool       = ""
name                = ""
iso_file            = "[DATASTORE-NAME-KEEP-BRACKETS] /path/to/openSUSE-MicroOS.x86_64-16.0.0-SelfInstall-Snapshot20240202.install.iso"
iso_checksum        = "none"
cpus                = 1
memory_g            = 1
disk_size_g         = 5
