proxmox_url         = "https://changeme.example.com:8006/api2/json"
proxmox_node        = "changeme"
proxmox_username    = "changeme"
proxmox_token       = "changeme"
storage_pool        = "local"
iso_storage_pool    = "local"
network_bridge      = "vmbr0"
iso_file            = "local:iso/openSUSE-MicroOS.x86_64-16.0.0-SelfInstall-Snapshot20240202.install.iso"
iso_checksum        = "none"
cpu_cores           = 2
memory_g            = 2
disk_size_g         = 5

