#cloud-config

fqdn: ${hostname}

#growpart:
#  mode: auto
#  devices: ["/var"]
#
#resize_rootfs: true

users:
  - default
  - name: root
    lock_passwd: ${root_lock_password}
    plain_text_passwd: "${root_plain_password}"
    ssh_authorized_keys:
      %{~ for pubkey in root_public_keys ~}
      - ${pubkey}
      %{~ endfor ~}

