apiVersion: v1
kind: Namespace
metadata:
  name: cattle-system
  labels:
    name: cattle-system
---
apiVersion: v1
kind: Secret
metadata:
  name: tls-ca
  namespace: cattle-system
type: Opaque
data:
  cacerts.pem: "${cacert_data}"
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: tls-rancher-ingress
  namespace: cattle-system
spec:
  secretName: tls-rancher-ingress
  issuerRef:
    name: private-ca-issuer
    kind: ClusterIssuer
  dnsNames:
  - ${fqdn}

